includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 5

    noModelMake: false

    ignoreErrors:
        - '#Access to an undefined property App\\Models\\Game::\$external_id\.#'
        - '#Access to an undefined property App\\Models\\Clip::\$published_at\.#'